<li>First time visiting?  <%= link_to "Sign up", 'signup' %></li>

<h2>Log in</h2>

<%= form_for(:session, url: login_path) do |form| %>
    <div>
        <%= form.email_field :email, placeholder: "Email" %>
    </div>
    <div>
        <%= form.password_field :password, placeholder: "Password" %>
    </div>
    <div>
        <%= form.submit "Log in", class: "btn-submit" %>
    </div>
<% end %>