<%= form_with model: local_assigns[:case], class: "divTableRow" do |form| %>

    <div class="divTableCell" data-controller="hello">
        <%= link_to "Edit", "#", "data-action": "hello#onEdit", id: dom_id(local_assigns[:case]) %>
          <!-- links to show, edit, destroy -->
    </div>

    <div class="divTableCell">
        <%= form.fields_for :client do |f| %>
            <%= f.label :clientname, local_assigns[:cn].titleize %>
        <% end %>
    </div>

    <div class="divTableCell">
        <%= form.fields_for :attorney do |f| %>
            <%= f.label :name, local_assigns[:an].titleize %>
        <% end %>
    </div>

    <div class="divTableCell">
        <%= form.fields_for :attorney do |f| %>
            <%= f.text_field :firm, value: local_assigns[:f], readonly: true, id: dom_id(local_assigns[:case]) + '_e' %>
        <% end %>
    </div>

    <div class="divTableCell">
        <%= form.fields_for :report do |f| %>
            <%= f.number_field :hours_volunteered, step: 0.1, value: local_assigns[:hv], readonly: true, id: dom_id(local_assigns[:case]) + '_e' %>
        <% end %>
    </div>

    <div class="divTableCell">
        <%= form.fields_for :attorney do |f| %>
            <%= f.number_field :bill_rate_hr, step: 0.1, value: local_assigns[:br], readonly: true, id: dom_id(local_assigns[:case]) + '_e' %>
        <% end %>
    </div>

    <div class="divTableCell">    
        <%= form.submit "Save", disabled: true, id: dom_id(local_assigns[:case]) + '_e' %>
    </div>
<% end %>
