<h1>Report Your Hours</h1>

<table>
    <thead>
        <tr>
            <th>Client</th>
            <th>Organization</th>
            <th>Attorney</th>
            <th>Hours spent on case</th>
            <th>Billing rate (hr)</th>
        </tr>
    </thead>

    <tbody>
        <% @cases.each do |_case| %>
            <tr>
                <td><%= _case.client.name %></td>
                <td><%= _case.attorney.firm %></td>
                <td><%= _case.attorney.name %></td>
                <td><%= _case.report.hours_volunteered %></td>
                <td><%= _case.attorney.bill_rate_hr %></td>
                <!-- links to show, edit, destroy -->
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<p><%= link_to "Edit", edit_case_path(@cases) %></p>